@media only screen and (max-width: 600px) {
  
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .before-after-slider-container{
    width: 90vw;
    min-height: 80vh;
  }
  
  .before-after-slider {
    min-height: 40vh;
  }
  
  .top-image {
    height: 70vh;
    width: 100vw;
  }

  .filler {
    height: 10vh;
    background-color:#72c1b9;
  }

  .aos-container {
    background-color: #72c1b9;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .story-div {
    box-shadow: 10px 10px 10px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #1cd8d2, #93edc7);
    color: white;
    margin: 3.5vh 0;
    border-radius: 7px;
  }

  .story-div-1 {
    margin-top: 400px;
  }

  .story-div-right {
    max-width: 60vw;
    align-self: flex-end;
    font-size: 32px;
    padding: 10px;
    color: white;
    margin-right: 5vw;
  }

  .story-div-left {
    max-width: 60vw;
    font-size: 32px;
    padding: 10px;
    color: white;
    margin-left: 5vw;
  }

  .story-img-left {
    width: 80vw;
    height: 22vh;
    font-size: 20px;
    padding: 10px;
    color: white;
    margin-left: 5vw;
  }

  .story-img-right {
    align-self: flex-end;
    justify-content: center;
    width: 80vw;
    height: 22vh;
    font-size: 20px;
    padding: 10px;
    color: white;
    margin-right: 5vw;
  }

  .story-img-center {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    max-width: 70vw;
    height: 50vh;
    font-size: 32px;
    padding: 10px;
    color: white;
  }

  .story-img {
    align-items: center;
    justify-content: center;
    width: 95%;
    max-height: 95%;
    font-size: 20px;
    padding: 10px;
    color: white;
  }
}