@media only screen and (max-width: 600px) {
    div {
        font-family: 'Montserrat', sans-serif;
    }

    .single-artist-name {
        font-size: 2.2rem;
        color: white;
        padding-top: .5rem;
    }

    .single-artist-title {
        color: white;
        font-family: montserratThinItalic;
        font-size: 1.5rem;
        margin-left: 1vw;
        margin-bottom: 3vh;
    }

    .artist-main-image {
        width: 90vw;
        margin-top: 2vh;
    }

    .solo-artist-name {
        margin-left:7vw;
        width: 90vw;
        font-size: 2rem;
        color: white;
        padding-top: .5rem;
    }

    .artist-intro-container {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        font-style: italic;
        color: white;
        font-size: 1.5rem;
    }

    .artist-carousel-wrapper {
        padding-top: 2vh;
    }

    .social {
        display: flex;
        color: white;
        margin-left: 1vw;
    }

    .artist-company-name {
        font-size: 1.2rem;
        color: white;
        margin-bottom: 1vh;
        font-family: montserratThin;
    }

    .artist-name {
        font-size: 2.5rem;
        color: white;
        text-align: center;
        padding-top: 2rem;
    }

    .artist-company {
        font-size: 1.2rem;
        color: white;
        text-align: center;
        font-style: italic;
    }

    .artist-company-link {
        display: flex;
        color: white;
        justify-content: center;
        padding-bottom: 2rem;
    }

    .artifact-list-container {
        padding: 1rem 0 1rem 1rem;
        color: white;
        font-size: 1.5rem;
    }

    .artifact-list {
        padding-top: 1rem;
        color: white;
    }

    .artifact-list-name {
        font-size: 1.2rem;
    }
    .artifact-list-description {
        font-size: 1rem;
        font-style: italic;
        padding-bottom: 1rem;
    }

    .info-container {
        padding: 1rem;
    }

    .social {
        color: white;
        text-decoration: none;
        margin-top: 1vh;
        margin-bottom: 1vh;
        margin-left: 0;
        font-family: montserratThinItalic;
    }

    a:link { text-decoration: none; }

    a:visited { text-decoration: none; }

    .blurb-container {
        overflow-y: scroll;
        max-height: 20vh;
        width: 80vw;
        display: flex;
        justify-content: center;
        border: 1px solid white;

    }

    .blurb {
        padding: 5px;
        color: white;
    }
}