@font-face {
  font-family: montserrat;
  src: url('../../public/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: montserratItalic;
  src: url('../../public/Montserrat-Italic-VariableFont_wght.ttf');
}

.artifact-container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    min-height: 100vh;
    font-family: montserrat;
}

.info-wrapper {
  margin-left: 10vw;
  margin-top: 1.5vh;
  max-width: 100vw;
}

.artifact-name {
  letter-spacing: 2px;
  color: white;
  font-size: 1.7em;
  overflow-wrap: break-word;
  max-width: 90vw;
  font-style: bold;
}

.artifact-artist-name {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    letter-spacing: 1px;
}

.line-div {
    border-bottom: 5px solid white;
    width: 50%;
    position: absolute;
    margin-top: 1.5vh;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }

.artifact-artist-description {
    color: white;
    font-size: 1rem;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 10px;
    letter-spacing: 4px;
}

.artifact-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://cdn.pixabay.com/photo/2017/06/13/13/51/marble-2398946__480.jpg');
    background-size: cover;
    border: 1px solid black;
    border-radius: 5px;
    max-height: 37vh;
    width: 90vw;
    overflow-x: scroll;
}

.artifact-info {
    font-size: 24px;
    color: white;
    background-color: #bcbcbc;
    border: 2px solid #a1a1a1;
    box-shadow: 1vh 1vh 1vh rgb(0 0 0 / 50%);
    width: 20vw;
}

  .slides {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 60vh;
    border: 2px solid white;
}

.slide {
    min-width: 90vw;
    animation: carousel 15s ease-in infinite;
  }

  @keyframes carousel {
    0% {
      transform: translateX(0);
    }
    20% {
        transform: translateX(0)
    }
    33% {
      transform: translateX(-100%);
    }
    53% {
      transform: translateX(-100%);
    }
    66% {
      transform: translateX(-200%);
    }
    76% {
      transform: translateX(-200%);
    }
    86% {
        transform: translateX(-100%);
    }
    94% {
        transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

/* .inner-wrapper {
    max-height: 37vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
} */