.test-div{
    height: 10px;
}

* {
    margin: 0 auto;
    box-sizing:border-box
}

body {
    background-color: #004c8f;
}

.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 499px){
    .gallery-container {
        padding-top: 1000px;
        background-size: 100% 100.001%;
        background-position: center;
        background-image: url("https://res.cloudinary.com/dyjzfdguj/image/upload/v1709840199/octopus-house/mobile_bottom_zcpgks.jpg");
    }
}

@media screen and (min-width: 500px) and (max-width: 799px){
    .gallery-container {
        padding-top: 1400px;
        background-size: 100% 100.001%;
        background-position: center;
        background-image: url("https://res.cloudinary.com/dyjzfdguj/image/upload/v1709840199/octopus-house/mobile_bottom_zcpgks.jpg");
    }
}

@media screen and (min-width: 800px){
    .gallery-container {
        padding-top: 1000px;
        background-position: center;
        background-image: url("https://res.cloudinary.com/dyjzfdguj/image/upload/v1709840137/octopus-house/desktop_bottom_gjuqzk.jpg");
        background-size: auto 100.0001%;
        /* This is 100.0001% because for some reason chrome does not render the background at 100% at very specific widths.  This is a work around */
        background-position: center;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1999px){
    .gallery-container{
        padding-top: 1500px;
    }
}

@media screen and (min-width: 2000px) and (max-width: 2999px){
    .gallery-container{
        padding-top: 2000px;
    }
}

@media screen and (min-width: 3000px){
    .gallery-container{
        padding-top: 2500px;
    }
}