* {
    margin: 0 auto;
    box-sizing:border-box
}

body {
    background-color: rgb(0, 76, 143);
}

.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 800px){
    .home-image-mobile {
        width: 100%;
        display: inline;
    }

    .gallery-container {
        background-size: 100% 100%;
        background-image: url("../images/mobile_bottom.jpeg");
    }

    .home-image-desktop {
        display: none;
    }
}

@media screen and (min-width: 800px){
    .home-image {
        width: 100%;
    }

    .home-image-mobile {
        display: none;
    }

    .home-image-desktop {
        width: 100%;
        display: inline;
    }

    .gallery-container {
        background-size: 100% 100%;
        background-image: url("../images/desktop_bottom.jpeg");
    }
    
}