@media only screen and (max-width: 600px) {
    .post-wrapper {
        max-width: 90vw;
        margin-bottom: 4vh;
        border: 1px solid #6CB4C2;
        border-radius: 5px;
    }
/* node_modules/.bin/react-scripts start */
    .post-title-wrapper {
        height: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid #6CB4C2;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: white;
        color: white;
        background-color: #43929F;
    }

    .post-title {
        font-size: 1.5rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .inner-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .post-image-wrapper {
        position: relative;
        background-image: url('https://images.unsplash.com/photo-1530053969600-caed2596d242?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c2VhJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80');
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        align-items: center;
        width: 100%;
        max-height: 40vh;
    }

    .single-image-wrapper {
        background-color: rgb(0, 0, 0, 0%);
        width: 100%;
        max-height: 100%;
        display: flex;
    }

    .post-image {
        max-width: 90vw;
        height: 100%;
    }

    .post-content {
        padding: 2vw;
        border-top: 2px solid black;
        color: white;
        background-color: #43929F;
        border: 1px solid #6CB4C2;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .icon {
        border:solid 2em transparent;
        border-top-color:white;
        color:white;
        opacity:0;
        right: -7%;
        pointer-events: none;
        position:absolute;
        text-align:center;
        transform: rotate(270deg);
        transition: all .2s ease-out;
        width:0;
        animation: flash 1.5s infinite linear;
      }

    @keyframes flash {
        0%, 100% {
          opacity:1;
        }
        50% {
          opacity:.2;
        }
      }
}