.container {
    position: relative;
    overflow: hidden;
    user-select: none;
}

.clip-item {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    user-select: none;
    overflow: hidden;
    animation: slider 4s alternate forwards;
}
@keyframes slider {
    25% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    50% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    75% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    100% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
  }

.image {
    overflow: clip;
    display: block;
    width: 100%;
    height: 40vh;
    max-width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center center;
}