body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* The parallax container */
.parallax {
  /* The height of the parallax container */
  height: 3000px;

  /* This makes the background image fixed when scrolling */
  background-attachment: fixed;

  /* The background image */
  background-image: url('https://res.cloudinary.com/dyjzfdguj/image/upload/v1684960996/tacos/70263335613__B49FC130-29C9-45F8-BE55-3D82F2B9DCC7_e3xsaq.jpg');

  /* Center and cover the background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* The content on top of the parallax background */
.content {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
  padding-top: 50%;
}

/* Some additional styling for the normal content */
.normal-content {
  height: 800px;
  padding-top: 4%;
  padding-left: 5%;
  color: white;
}

.second-content {
margin-top: 40%;
text-align: center;
color: white;
font-size: 2rem
}
