.scroll-container {
    height: 3000px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.fish1 {
    position: relative;
    color: white;
    font-size: 2rem;
    margin-left: 3500px;
    transition: transform 0.2s;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin-top: 15%;
}

.fish2 {
    position: relative;
    color: white;
    font-size: 2rem;
    margin-left: -2500px;
    transition: transform 0.2s;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin-top: 10%;
}

.fish3 {
    position: relative;
    color: white;
    font-size: 2rem;
    margin-left: 3500px;
    transition: transform 0.2s;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin-top: 20%;
}

.fish4 {
    position: relative;
    color: white;
    font-size: 2rem;
    margin-left: 4000px;
    transition: transform 0.2s;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin-top: 5%;
}

.fish6 {
    position: relative;
    color: white;
    font-size: 2rem;
    margin-left: -3000px;
    transition: transform 0.2s;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin-top: 5%;
}

.fish7 {
    position: relative;
    color: white;
    font-size: 2rem;
    margin-left: 4500px;
    transition: transform 0.2s;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin-top: 5%;
}

.fish5 {
    position: relative;
    color: white;
    font-size: 2rem;
    margin-left: 4000px;
    transition: transform 0.2s;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin-top: 5%;
}

.turtle1 {
    position: relative;
    color: white;
    font-size: 2rem;
    margin-left: 1500px;
    transition: transform 0.2s;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin-top: 5%;
}