body{
  display: flex;
}



.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('https://res.cloudinary.com/ddqp7dojc/image/upload/v1668027202/octo-house/bubble1_guxnpp.gif');
  background-size: 70vh;
}


.before-after-slider-container{
  width: 90vw;
  min-height: 800px;
}

.before-after-slider {
  min-height: 400px;
}

@media only screen and (max-width: 600px) {
  .carousel-details {
    padding-top: 5px;
  }
  .carousel-title {
    font-size: 20px;
    color: #6CB4C2;
    padding-left: 10px;
  }
  .main-image-container {
    margin-top: 11vh;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    background-color: #6CB4C2;
  }
  .house-image-main {
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
  }
  .home-blurb-container{
    margin: 10px;
    background-color: #6CB4C2;
  }
  .home-blurb {
    margin: 2px;
    color: #805E7C;
  }
  .carousel {
    max-width: 100vw;
  }
}