body {
    background-color: #1C7097;
}

.artist-content-container {
    margin-top: 11vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #6CB4C2;
}

.artist-button {
    background-color: #6CB4C2;
    padding: 5px;
    border-radius: 10px;
    margin-left: 5px;
}

.card {
    padding: 5px;
    border-color: black;
    border: 1px;
    border-style: solid;
    background-color: #6CB4C2;
    border-radius: 10px;
    width: 40vw;
    max-width: 40vw;
    height: 20vh;
}

.card-back {
    
    background-color: #6CB4C2;
}

.isActive {
    min-width: 90vw;
    z-index: 20;
    position: fixed;
}

.flippy-container.isActive {
    position: absolute;
}