.artist-name {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    color: #6CB4C2;
}

.artist-top-div {
    display: flex;
    height: 25vh;
    justify-content: space-between;
}

.artist-info-container {
    margin: 10px;
    background-color: #6CB4C2;
}

.artist-info {
    padding: 5px;
}

.artist-blurb-container {
    margin: 10px;
    background-color: #6CB4C2;
}
@media only screen and (max-width: 600px) {
    .home-blurb-container{
        margin: 10px;
        background-color: #6CB4C2;
    }
    .home-blurb {
        margin: 2px;
        color: #805E7C;
    }
}